<!-- Import the header section -->
<%- include("./header"); %>

<main class="container">
  <div class="filter_container">
    <div class="selected_languages">
      <div class="language_style">
        <span class="language_name">
          Frontend
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
    </div>

    <div class="clear_btn">
        Clear
    </div>
  </div>

  <% data.forEach(item => { %>
    <div class="card_container">
      <img src=<%= item.logo %> alt="Company Logo">

      <div class="company">
        <h3 class="company_name">
          <%= item.company %>
        </h3>

        <div class="quality">
          <% if(item.new == true) { %>
            <span class="recently_added">NEW!</span>
          <% } %>
          
          <% if(item.featured == true) { %>
            <span class="recently_featured">FEATURED</span>
          <% } %>
        </div>
      </div>

      <div class="job_title">
        <h2>
          <a href="#">
            <%= item.position %>
          </a>
        </h2>
      </div>

      <div class="job_attributes">
        <span><%= item.postedAt %></span>
        <span class="dot"></span>
        <span><%= item.contract %></span>
        <span class="dot"></span>
        <span><%= item.location %></span>
      </div>
      
      <hr class="line_break">

      <div class="job_languages">
        <span class="choice"><%= item.role %></span>
        <span class="choice"><%= item.level %></span>
        <% item.languages.forEach(element => { %>
          <span class="choice"><%= element %></span>
        <% }); %>

        <% item.tools.forEach(element => { %>
          <span class="choice"><%= element %></span>
        <% }); %>
      </div>
    </div>
  <% }) %>
</main>


<!-- Import the footer section -->
<%- include("./footer"); %>